html
    head
        title Merhaba Pug
    body
        | Merhaba Pug
        br

        span(style="color:white; background-color:black")
            | Finally it works.
        br
        | Directory work is mest up, but i solve it at last
        br
        =yetenek
        br
        | Merhaba #{isim}